@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}
body {
    background-color: #111111;
    color: #fff;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    
}

.lists {
    margin-top: -150px;
}

footer {
    text-align: center;
    background-color: rgb(14, 14, 14);
    font-size: 12px;
    padding: 5px 0px;
}

.loading {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 99;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}